<template>
  <v-flex xs12>
    <v-card v-if="blog.id">
      <v-img
        :src="
          blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/200'
        "
        class="white--text"
        height="200px"
      >
      </v-img>

      <v-card-text>
        <v-simple-table>
          <tbody>
            <tr>
              <td><v-icon>mdi-format-title</v-icon></td>
              <td class="blue--text">{{ blog.title }}</td>
            </tr>
            <tr>
              <td><v-icon>mdi-note</v-icon>Description</td>
              <td>{{ blog.description }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      blog: {},
      apiDomain: "http://demo-api-vue.sanbercloud.com",
    };
  },
  methods: {
    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: this.apiDomain + `/api/v2/blog/${id}`,
      };
      this.axios(config)
        .then((response) => {
          let { blogs } = response.data;
          console.log(blogs);
          this.blog = blogs.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>