<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>All Blogs</v-subheader>

    <v-layout wrap>
      <blog-item-component
        v-for="blog in Blogs"
        :key="`blog` + blog.id"
        :blogs="Blogs"
      ></blog-item-component>
    </v-layout>
    <v-pagination
      v-model="page"
      @input="go"
      :length="lenghtPage"
      :total-visible="perPage"
    ></v-pagination>
  </v-container>
</template>

<script>
import BlogItemComponent from "../components/BlogItemComponent.vue";
import BlogItemComponent from "../components/BlogItemComponent.vue";
export default {
  components: { BlogItemComponent },
  data() {
    return {
      apiDomain: "http://demo-api-vue.sanbercloud.com",
      Blogs: [],
      page: 0,
      lenghtPage: 0,
      perPage: 0,
    };
  },
  methods: {
    go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog?page=" + this.page,
      };
      this.axios(config)
        .then((response) => {
          let { blogs } = response.data;
          console.log(blogs);
          this.Blogs = blogs.data;
          this.page = blogs.current_page;
          (this.lenghtPage = blogs.last_page), (this.perPage = blogs.per_Page);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  component: {
    "blog-item-component": BlogItemComponent,
  },
};
</script>