<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs <v-icon>mdi-cevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component
        v-for="blog in Blogs"
        :key="`blog` + blog.id"
        :blogs="Blogs"
      ></blog-item-component>
    </v-layout>
  </v-container>
</template>

<script>
import BlogItemComponent from "../components/BlogItemComponent.vue";
import BlogItemComponent from "../components/BlogItemComponent.vue";
export default {
  components: { BlogItemComponent },
  data() {
    return {
      apiDomain: "http://demo-api-vue.sanbercloud.com",
      Blogs: [],
    };
  },
  created() {
    const config = {
      method: "get",
      url: this.apiDomain + "/api/v2/blog/random/4",
    };
    this.axios(config)
      .then((response) => {
        let { blogs } = response.data;
        console.log(blogs);
        this.Blogs = blogs;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  component: {
    "blog-item-component": BlogItemComponent,
  },
};
</script>